.noteNode {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 100%;
  cursor: move;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  background-color: #f1f1f1;
  z-index: 0;
  cursor: move;
}

.titleInput {
  font-size: 12px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  outline: none;
  flex-grow: 1;
  cursor: text;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.actionButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 4px;
}

.fileInput {
  display: none;
}

.noteContent {
  flex-grow: 1;
  overflow: auto;
  background-color: transparent;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
  padding: 8px;
  z-index: 0;
  cursor: text;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 8px;
}

.tag {
  background-color: #e0e0e0;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
}

.attachedFile {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}

.colorPicker {
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 10;
  cursor: default; /* Ensure the cursor is appropriate for the color picker */
}

.nodrag {
  -webkit-user-drag: none;
  user-select: none;
}

.nowheel {
  overflow: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.nowheel::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
