.resizer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  cursor: se-resize;
}

.handle {
  position: absolute;
  background-color: #4a90e2;
}

.handleRight {
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  cursor: e-resize;
}

.handleBottom {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  cursor: s-resize;
}

.handleCorner {
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  cursor: se-resize;
}
