.settingsContainer {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  max-height: 60vh;
  overflow-y: auto;
  width: 350px;
}

.toolSetting {
  display: grid;
  grid-template-columns: 60px 50px 50px 60px 70px;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
}

.toolName {
  font-size: 12px;
  color: #555;
}

.colorInput,
.widthInput,
.opacityInput,
.blendModeSelect {
  font-size: 12px;
  padding: 2px;
  width: 100%;
}

.colorInput {
  height: 24px;
  padding: 0;
}

.widthInput {
  width: 100%;
}

.opacityInput {
  width: 100%;
}

.blendModeSelect {
  width: 100%;
}
