.settingsContainer {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  max-height: 50vh;
  overflow-y: auto;
}

.header {
  display: grid;
  grid-template-columns: 70px 50px 50px 60px; /* Adjusted column widths */
  gap: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.toolSetting {
  display: grid;
  grid-template-columns: 70px 50px 50px 60px; /* Adjusted column widths */
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.toolName {
  font-size: 14px;
  color: #333;
}

.colorInput,
.widthInput,
.opacityInput {
  font-size: 12px;
  padding: 4px;
  width: 100%;
}

.colorInput {
  height: 28px;
  padding: 0;
}

.widthInput {
  width: 100%;
}

.opacityInput {
  width: 100%;
}
