.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 10px; /* Reduce padding */
  border-radius: 8px;
  width: 200px; /* Reduce width */
  max-width: 90%;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 5px; /* Adjust position */
  right: 5px; /* Adjust position */
  background: none;
  border: none;
  font-size: 18px; /* Adjust font size */
  cursor: pointer;
}
