.actionButton {
  @apply bg-transparent border-none cursor-pointer p-0 ml-1 relative z-10;
}

.fileInput {
  @apply hidden;
}

.input {
  @apply mb-2;
}

.button {
  @apply mb-2;
}

.tagList,
.fileList {
  @apply flex flex-wrap mt-2 max-w-md max-h-48 overflow-auto;
}

.tag,
.file {
  @apply bg-myLightGray-500 dark:bg-myGray-800 rounded py-0.5 px-1.5 mr-2 mb-2 flex items-center text-xs;
}

.removeTagButton,
.removeFileButton {
  @apply bg-transparent border-none cursor-pointer ml-1 text-myGray-600 dark:text-myGray-400 text-xs;
}

.fileSizeInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
  font-size: 14px;
  color: #666;
}
