.tagFileContainer {
  @apply flex justify-between mt-2 p-2;
}

.withBorder {
  @apply border border-myGray-300 dark:border-myGray-600;
}

.tagContainer,
.fileContainer {
  @apply flex flex-wrap gap-1;
}

.tag,
.file {
  @apply bg-myLightGray-500 dark:bg-myGray-800 py-0.5 px-1.5 rounded text-xs cursor-pointer;
}

.removeTagButton,
.removeFileButton {
  @apply bg-transparent border-none cursor-pointer text-current ml-1;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag,
.file {
  padding: 4px 8px;
  border-radius: 12px;
  background-color: transparent; /* Ensure background doesn't clash */
  border: 1px solid currentColor; /* Use current text color for border */
  cursor: pointer;
}
