/* Button Base Style */
.root {
  @apply bg-myGray-100 text-myGray-800 cursor-pointer inline-flex px-2 py-1 rounded-md leading-4 transition ease-in-out duration-150 shadow-sm font-semibold text-center justify-center uppercase border border-transparent items-center text-xs;
}

/* Hover State */
.root:hover {
  @apply bg-light-secondary border-light-background;
}

/* Focus State */
.root:focus {
  @apply outline-none ring-2 ring-lavender-500 ring-opacity-50;
}

/* Active State */
.root[data-active] {
  @apply bg-light-primary;
}

/* Loading State */
.loading {
  @apply bg-light-background text-light-text border-light-text cursor-not-allowed;
}

/* Slim Modifier for a thinner appearance */
.slim {
  @apply py-0.5 px-1 text-xs bg-myGray-300 text-light-background border border-light-primary rounded-md shadow-sm transition duration-300 ease-in-out;
}

.slim:hover {
  @apply shadow-lg shadow-light-primary/50;
}

.outline {
  @apply bg-transparent text-light-primary border border-light-primary;
}

.outline:hover {
  @apply bg-light-primary text-light-background; /* Swaps the text and background colors on hover */
}

/* Sleek variant styles */
.sleek {
  @apply bg-light-primary text-light-background border border-light-primary rounded-md shadow-sm transition duration-300 ease-in-out;
}

.sleek:hover {
  @apply shadow-lg shadow-light-primary/50;
}

/* Submit variant styles */
.submit {
  @apply bg-gradient-to-r from-blue-300 to-purple-300 text-white border border-transparent rounded-md shadow-sm transition duration-300 ease-in-out;
}

.submit:hover {
  @apply shadow-lg shadow-blue-300/50;
}

/* Cancel variant styles */
.cancel {
  @apply bg-gradient-to-r from-red-300 to-pink-300 text-white border border-transparent rounded-md shadow-sm transition duration-300 ease-in-out;
}

.cancel:hover {
  @apply shadow-lg shadow-red-300/50;
}

/* Disabled State */
.disabled,
.disabled:hover {
  @apply text-light-text border-light-text bg-light-background cursor-not-allowed;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
