.customModal {
  padding: 20px;
  max-height: 40vh;
  overflow-y: auto;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
