.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  cursor: context-menu; /* Indicate that right-click is available */
}

.headerContainer span {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
