.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  cursor: pointer;
  position: relative;
}

.headerText {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menuIcon {
  margin-left: 8px;
  cursor: pointer;
  color: #575757;
}

.headerContainer:focus {
  outline: 1px solid #7c3aed;
  outline-offset: 2px;
  transition: outline 0.3s ease-in-out;
}

.typeIcon {
  margin-left: 8px; /* Add margin to create space between the column name and the icon */
}
