.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  cursor: pointer; /* Change cursor to pointer for left-click */
  position: relative; /* For positioning the context menu */
}

.headerContainer span {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menuIcon {
  margin-left: 8px;
  cursor: pointer;
}
