.customFloatingFilter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  flex: 1;
}

.filterButton {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  transition: color 0.3s ease;
}

.filterButton:hover {
  color: #7c3aed;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modalHeader {
  text-align: center;
  font-size: 16px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 14px;
}

.dropdown {
  flex: 1;
}

.input {
  flex: 1;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
