.dateEditorContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.dateInput {
  flex-grow: 1;
  border: none;
  padding: 2px 4px;
  padding-right: 30px;
  font-size: 12px;
  height: 100%;
}

.calendarButton {
  position: absolute;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  padding: 0 4px;
}

.datePicker {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  border: none;
}
