.contextMenu {
  position: absolute;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 4px 0;
  min-width: 120px;
  font-size: 12px;
}

.contextSubmenu {
  position: relative;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 4px 0;
  min-width: 120px;
  font-size: 12px;
  width: auto;
}
