.actionButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 4px;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 4px;
}

.fileInput {
  display: none;
}
