.tableNode {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 100%;
  cursor: move;
  border: 1px solid #ddd;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  background-color: transparent;
  z-index: 0;
  cursor: move;
  border-bottom: 1px solid #ccc;
}

.titleInput {
  font-size: 18px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  outline: none;
  flex-grow: 1;
  cursor: text;
  color: inherit;
  box-shadow: none !important;
}

.titleInput:focus,
.titleInput:active {
  border-bottom: 2px solid #989ff0;
  transition: border-bottom 0.3s ease-in-out;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  background-color: transparent;
  padding: 8px 12px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
}

.tableContent {
  flex-grow: 1;
  overflow: auto;
  background-color: transparent;
  outline: none;
  resize: none;
  padding: 8px;
  z-index: 0;
  cursor: text;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.tableContent .rdg {
  border: 1px solid #ccc;
}

.tableContent .rdg-cell {
  border-right: 1px solid #ccc;
}

.tableContent .rdg-row {
  border-bottom: 1px solid #ccc;
}

.colorPicker {
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 10;
  cursor: pointer;
}

.nodrag {
  -webkit-user-drag: none;
  user-select: none;
}

.nowheel {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nowheel::-webkit-scrollbar {
  display: none;
}
