/* IdeaMapperCanvasInner.css */
.flex-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 16px;
  background-color: white;
  padding: 2px;
}

.flex-grow {
  flex-grow: 1;
  background-color: #f0f0f0;
}

.toolbar {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.p-4 {
  padding: 4px;
}

.absolute-button {
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding: 4px 2px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}

.absolute-button:hover {
  background-color: #0069d9;
}

.absolute-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}
