.drawNode {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  resize: both;
  overflow: hidden;
  height: 100%;
}

.drawContent {
  flex-grow: 1;
  overflow: auto;
  background-color: transparent;
}
