.reactFlowHandle {
  width: 30px;
  height: 14px;
  border-radius: 3px;
  background-color: #784be8;
}

.reactFlowHandleTop {
  top: -10px;
}

.reactFlowHandleBottom {
  bottom: -10px;
}

.reactFlowEdgePath,
.reactFlowConnectionLinePath {
  stroke-width: 2;
  stroke: currentColor;
}

.wrapper {
  flex-grow: 1;
  height: 100%;
}
