@import 'reactflow/dist/style.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light-background text-light-text font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

/* Dark mode styles */
.dark {
  body {
    @apply bg-dark-background text-dark-text;
  }
}

/* Hide the attribution from React Flow library */
.react-flow__attribution {
  display: none;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .minimap {
    display: none;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input:focus,
textarea:focus,
select:focus {
  @apply outline-none;
  @apply ring-0;
  @apply shadow-none;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings:
    'case' 1,
    'rlig' 1,
    'calt' 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p a {
  @apply hover:underline;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  min-height: calc(100vh - 80px);
}

/* Footer styles */
.footer {
  width: 100%;
  position: relative; /* Adjust if needed */
}

/* ag-grid styles */

.ag-cell {
  border-right: 1px solid #ccc !important;
}

.ag-floating-filter {
  border-right: 1px solid #ccc !important;
}
