.calendarNode {
  @apply flex flex-col rounded-lg p-2 shadow-md overflow-hidden h-full cursor-move bg-light-background text-light-text dark:bg-dark-background dark:text-dark-text;
}

.calendarContent {
  @apply flex-grow overflow-auto bg-transparent outline-none resize-none p-0 z-0 cursor-text text-xs;
}

.customCalendar {
  @apply text-xs;
}

.customCalendar .rbc-header {
  @apply p-1 font-semibold text-xs border-b border-current;
}

.customCalendar .rbc-date-cell {
  @apply p-1 text-xs;
}

.customCalendar .rbc-event {
  @apply p-1 text-xs;
}

.todayCell {
  @apply font-bold bg-lavender-100 dark:bg-lavender-900 border-2 border-current rounded;
}

.customCalendar .rbc-today {
  @apply bg-transparent;
}

.customCalendar .rbc-off-range-bg {
  @apply bg-myLightGray-500 dark:bg-myGray-800;
}

.customCalendar .rbc-month-row + .rbc-month-row,
.customCalendar .rbc-day-bg + .rbc-day-bg {
  @apply border-t border-l border-current;
}

.header {
  @apply flex items-center justify-between p-2 bg-transparent z-0 cursor-move;
}

.titleInput {
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  outline: none;
  flex-grow: 1;
  cursor: text;
  color: inherit;
  box-shadow: none !important;
}

.titleInput:focus,
.titleInput:active {
  border-bottom: 2px solid #989ff0;
  transition: border-bottom 0.3s ease-in-out;
}

.footer {
  @apply flex justify-between mt-2 bg-transparent p-1;
}

.tagFileContainer {
  @apply flex justify-between mt-2 border border-myGray-300 dark:border-myGray-600 p-2;
}

.tagContainer,
.fileContainer {
  @apply flex flex-wrap gap-1;
}

.file {
  @apply bg-transparent py-0.5 px-1.5 rounded text-xs cursor-pointer;
}

.attachedFile {
  @apply mt-2 text-xs text-myGray-600 dark:text-myGray-400;
}

.colorPicker {
  @apply absolute left-0 bottom-10 z-10;
}

.colorPicker .compact-picker__swatch:hover::after {
  @apply content-[attr(data-name)] absolute top-[-20px] left-0 bg-white dark:bg-dark-background p-1 border border-myGray-300 dark:border-myGray-600 rounded text-xs whitespace-nowrap z-10;
}

.nodrag {
  @apply select-none;
}

.nowheel {
  @apply overflow-auto;
}
