.calendarNode {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 100%;
  cursor: move;
  background-color: var(--background-color, #f4f4f4);
  color: var(--text-color, #575757);
}

.calendarContent {
  flex-grow: 1;
  overflow: auto;
  background-color: transparent;
  outline: none;
  resize: none;
  padding: 0;
  z-index: 0;
  cursor: text;
  font-size: 12px;
}

.customCalendar {
  font-size: 0.8rem;
}

.customCalendar .rbc-header {
  padding: 4px 3px;
  font-weight: bold;
  font-size: 0.75rem;
  border-bottom: 1px solid currentColor !important;
}

.customCalendar .rbc-date-cell {
  padding: 2px;
  font-size: 0.7rem;
}

.customCalendar .rbc-event {
  padding: 2px 3px;
  font-size: 0.7rem;
}

.todayCell {
  font-weight: bold !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 2px solid currentColor !important;
  border-radius: 4px !important;
}

.customCalendar .rbc-today {
  background-color: transparent !important;
}

.customCalendar .rbc-off-range-bg {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.customCalendar .rbc-month-row + .rbc-month-row {
  border-top: 1px solid currentColor !important;
}

.customCalendar .rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid currentColor !important;
}

/* common on all nodes */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  background-color: transparent;
  z-index: 0;
  cursor: move;
}

.titleInput {
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  outline: none;
  flex-grow: 1;
  cursor: text;
  color: inherit;
  box-shadow: none !important;
}

.titleInput:focus,
.titleInput:active {
  border-bottom: 2px solid #989ff0;
  transition: border-bottom 0.3s ease-in-out;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  background-color: transparent;
  padding: 4px;
}

.tagFileContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  border: 1px solid #ccc;
  padding: 8px;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.fileContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.file {
  background-color: transparent;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

.attachedFile {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}

.colorPicker {
  position: absolute;
  left: 0;
  bottom: 40px;
  z-index: 1000;
}

.colorPicker .compact-picker__swatch:hover::after {
  content: attr(data-name);
  position: absolute;
  top: -20px;
  left: 0;
  background: #fff;
  padding: 2px 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
}

.nodrag {
  -webkit-user-drag: none;
  user-select: none;
}

.nowheel {
  overflow: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.nowheel::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
